@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a, h2 {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.nav-section {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #23232E;
    height: 10vh;
    width: 100%;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left:32px;
}



section{
    width: 100%;
    min-width: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 70px;
    color: white;
}

section:nth-of-type(1){
    background-image: url("./img/home.jpg");
    background-position: no-repeat center center;
    background-size: cover;
    height: 100vh;
}

section:nth-of-type(2){
    background-image: url("./img/about.jpg");
    background-position: no-repeat center center;
    background-size: cover;
    height: 100vh;
}

section:nth-of-type(3){
    background-image: url("./img/projects.jpg");
    background-position: no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: center;
    align-items: center;
}


.grid-template-columns{
    grid-template-columns: 400px 400px;
}

.item{
    background: rgba(244, 244, 244, 0.37);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 200px;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 5px;
}